<!DOCTYPE html>
<html ng-app="swiftApp">
	<head>
		<title>User Login and Session</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
	</head>
	<body>
		<div class="form-container" ng-controller="loginCtrl">
		<p class="form-header">User Profile</p>
		<form method="POST" action="/user/update">
			<label>Username:</label>
				<input type="text" name="username" ng-model="user.username" disabled><br>
			<label>Email:</label>
				<input type="email" name="email" ng-model="user.email"><br>
			<label>Role</label>
				<input type="text" name="role" ng-model="user.role"><br>
			<label>Company:</label>
				<input type="text" name="company" ng-model="user.company"><br>
			<input type="submit" value="Save">
		</form>
		<form method="POST" action="/user/delete">
			<input type="submit" value="Delete User">
		</form>
		<hr><%= msg %>
		<hr>{{error}}
		<script src="/bower/angular/angular.min.js"></script>
		<script src="/static/js/my_app.js"></script>
		<script src="/static/js/controllers/login.js"></script>
	</body>
</html>